.content {
    font-family: 'Avenir';
    font-size: 15px;
    padding: 10px;
}

.subheader {
    text-align: center;
    font-family: 'Avenir';
    margin-bottom: -10px;
}

.separator {
    border-bottom: 0.25px solid black;
    width: 75%;
    margin: auto;
}

h1 {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 600;
    text-align: center;
    font-size: 3em;
    margin-bottom: -10px;
    margin-top: 0px;
}

h2 {
    font-size: 2.5em;
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: 'Avenir';
}

.nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: 'Avenir';
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

table {
    font-family: 'Avenir';
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 20px;
    border-bottom: 0.5px solid black;
}

.team-metadata {
    font-family: 'Avenir';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 75%;
    margin: auto;
}

h3 {
    margin-bottom: -10px;
}

.metadata-item {
    width: 150px;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
}

.logo {
    max-height: 50px;
}

.team-name {
    margin-top: 30px;
}