h1 {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 600;
    text-align: center;
    font-size: 3em;
    margin-bottom: 0px;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: 'Avenir';
    align-items: center;
}


a {
    text-decoration: none;
    color: dodgerblue;
}

table {
    font-family: 'Avenir';
    border-collapse: collapse;
    width: 60%;
    margin: auto;
}